{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - La Boutique Française
{% endblock %}

{% block content %}
	<h2>Je passe ma commande</h2>

	<p>Choisissez vos préférences avant de passer votre commande sur la boutique Française.</p>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<b>Choisir mon adresse de livraison</b><br>
			<b>Choisir mon transporteur</b>
		</div>

		<div class="col-md-6">
			<b>récap de ma commande</b><br>
			<b>Bouton pour payer</b>
		</div>
	</div>

{% endblock %}
