{% extends 'base.html.twig' %}

{% block title %}Page Introuvable - Ma Belle Boutique
{% endblock %}

{% block content %}

	<div class="block-small text-center">
		<h1>PAGE INTROUVABLE</h1>
		<a href="{{ path('home') }}" class="btn btn-info">Revenir à l'accueil</a>
	</div>


{% endblock %}
